# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\temp\amis-admin-master\amis-admin-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
